<!-- Section - animation-section -->

<div class="section_animation_wrapper">

{% for i in (1..10) %}

  {% assign col_setting = "anm_col_" | append: i %}
  {% capture collection_custom_title %}anm_col_title_{{ i }}{% endcapture %}
  {% capture collection_custom_description %}anm_col_description_{{ i }}{% endcapture %}

  {% capture modulo %}{{ i | modulo: 2 }}{% endcapture %}
  {% capture class_wrapper %}{% if modulo == '1' %}grid-uniform{% else %}grid--rev{% endif %}{% endcapture %}

  {% assign collection = collections[settings[col_setting]] %}

  {% if settings[col_setting] != blank %}
  <div class="row {{ class_wrapper }} animation-row animation-{{i}}">
    <div class="wrapper">
      <div class="grid__item small--one-whole one-half">
        <div class="gaa_animation_wrapper">
          {% if collection.image %}
            <img src="{{ collection.image | img_url: '550x550' }}" />
          {% else %}
            <img src="{{ collection.products[0].featured_image | img_url: '550x550' }}" />
          {% endif %}
        </div>
      </div>
      <div class="grid__item small--one-whole one-half desc-part">
        {% if settings[collection_custom_title] != blank %}
          <a href="{{ collection.url }}"><h1 class="">{{ settings[collection_custom_title] }}</h1></a>
        {% else %}
          <a href="{{ collection.url }}"><h1 class="icon icon-{{ collection.handle }}"></h1></a>
        {% endif %}

        {% if settings[collection_custom_description] != blank %}
          <p>{{ settings[collection_custom_description] }}</p>
        {% else %}
          <p>{{ collection.description | default: 'Detroit is huge collection of ejuice flavors by Detroit.'}}</p>
        {% endif %}
        
        <a href="{{ collection.url }}" class="btn-shop-now hvr-sweep-to-right">Shop Now</a>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}

</div>

<div class="section_animation_wrapper hide">
  <div class="row grid-uniform animation-row animation-1">
    <div class="wrapper">
      <div class="grid__item small--one-whole one-half">
        <div class="gaa_animation_wrapper">
          <img src="https://cdn.shopify.com/s/files/1/2381/9593/products/mockup-918d0f59_650x650.jpg?v=1518212731" style="opacity: 1;" class="animated zoomIn">
        </div>
      </div>
      <div class="grid__item small--one-whole one-half desc-part">
        <a href="/collections/best-selling-products">
          <h1 class="icon icon-best-selling-products"></h1>
        </a>
        <p>Detroit is huge collection of ejuice flavors by Detroit.</p>
        <a href="/collections/best-selling-products" class="btn-shop-now hvr-sweep-to-right">Shop Now</a>
      </div>
    </div>
  </div>
  <div class="row grid--rev animation-row animation-2">
    <div class="wrapper">
      <div class="grid__item small--one-whole one-half">
        <div class="gaa_animation_wrapper">
          <img src="https://photific.com/wp-content/uploads/Unisex-Tri-Blend-Tank-Top-Mockup-4-drop-shadow-small-rotated.png">
        </div>
      </div>
      <div class="grid__item small--one-whole one-half desc-part">
        <h2>Sell More</h2>
        <p class="text-left">Stop losing customers to bad product images. 75% of consumers rate high-quality product photos as critical when buying online<span style="font-size: 10px;">†</span>. Storefront includes 4K high-res mockups created from professional photoshoots. </p>
        <p class="text-left"><span style="font-size: 10px;">†(2015). IRCE 2012 Report: Consumers explain how they shop online.</span></p>
      </div>
    </div>
  </div>
  <div class="row grid-uniform animation-row animation-3">
    <div class="wrapper">
      <div class="grid__item small--one-whole one-half">
        <div class="gaa_animation_wrapper">
          <img src="https://cdn.shopify.com/s/files/1/2381/9593/products/mockup-cd7dbc3b_grande.jpg?v=1518212727">
        </div>
      </div>
      <div class="grid__item small--one-whole one-half desc-part">
        <h2>Save Time</h2>
        <p> Stop wasting time and money taking your own product photos. Create product photos instantly right from your computer. It’s so easy your Grandma could do it. </p>
      </div>
    </div>
  </div>
  <div class="row grid--rev animation-row animation-4">
    <div class="wrapper">
      <div class="grid__item small--one-whole one-half">
        <div class="gaa_animation_wrapper">
          <img src="https://photific.com/wp-content/uploads/All-Over-Unisex-Tee-1.jpg">
        </div>
      </div>
      <div class="grid__item small--one-whole one-half desc-part">
        <h2>Save Money</h2>
        <p>500+ mockups worth over $2,000 are included. Never take another product photo. Never buy another mockup.</p>
      </div>
    </div>
  </div>
</div>
<!-- /Section - animation-section -->