<!-- Back To Top -->
<div class="backToTop footer__jumpTop">
  <a class="footer_scrollup" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- /Back To Top -->

<!-- Site Footer -->
<footer class="site-footer small--text-center hide" role="contentinfo">
  <div class="wrapper">
    <div class="grid footer__location">
      <div class="contactMenu">
        <ul id="menu-contact-menu" class="menu">
          <li id="menu-item-address">
            <a href="{{ settings.store_addr_link }}">{{ settings.store_addr }}</a>
          </li>
          <li id="menu-item-tel">
            <a href="tel:+1-{{ settings.store_phone }}">{{ settings.store_phone }}</a>
          </li>
          <li id="menu-item-contact">
            <a href="/pages/contact-us">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="grid footer__main-wrapper">
      <div class="grid__item large--one-third medium--one-half">
        {% if settings.logo_use_image %}
          <a href="/" itemprop="url" class="site-footer__logo-link">
            <img src="{{ 'logo-footer.png' | asset_img_url: '150x150' }}" alt="{{ shop.name }}" itemprop="logo">
          </a>
        {% else %}
          <a href="/" itemprop="url">{{ shop.name }}</a>
        {% endif %}
      </div>
      <div class="grid__item large--one-third medium--one-half footer__contact-menu">
        <h4>{{ settings.footer_2_heading }}</h4>
        {% if settings.footer_linklist_2 != '' %}
          <ul>
            {% for link in linklists[settings.footer_linklist_2].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          <div class="desc">
            {{ settings.footer_2_text }}
          </div>
        {% endif %}
      </div>
      {% if settings.footer_newsletter_enable %}
        <div class="grid__item large--one-third medium--one-half">
          {% comment %}
            MailChimp is the go-to newsletter service for Shopify.
            Use the link below to find your MailChimp form action
            and insert it in your site settings.

            If the form action URL is not set in the theme settings,
            it will fallback to a customer form so you can still capture the email.

            MailChimp newsletter integration and requirement:
             - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
          {% endcomment %}
          <h4>{{ 'layout.footer.newsletter_title' | t }}</h4>
          {% if settings.newsletter_form_action != blank %}
            <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
              <span class="input-group-btn">
                <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
              </span>
            </form>
          {% else %}
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
              {% else %}
                <div class="input-group">
                  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <span class="input-group-btn">
                    <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                  </span>
                </div>
              {% endif %}
            {% endform %}
          {% endif %}

        </div>
      {% endif %}
      <div class="grid__item text-center">
        {% comment %}
          Loop through available payment methods and show their icons.
        {% endcomment %}
        {% if settings.footer_social_enable %}
        <div class="one-whole">
          {% include 'social-profiles' %}
        </div>
        {% endif %}
        {% unless shop.enabled_payment_types == empty %}
          {% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' %}
          <ul class="inline-list payment-icons">
            {% for type in shop.enabled_payment_types %}
              {% capture payment_type_img %}cc-{{type}}@2x.png{% endcapture %}
              <li class="payment-{{type}}"><img src="{{ payment_type_img | asset_url }}" alt="{{ type | replace: '_', ' ' }}" width="48" height="34"></li>
            {% endfor %}
          </ul>
        {% endunless %}
        <p class="footer__shop-copyright">
          Copyright &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}
        </p>
      </div>
      <div class="clearfix"></div>
      <div id="plugdetroit-logo">
        <a href="http://plugdetroit.com/" target="_blank">
          <img src="//cdn.shopify.com/s/files/1/1450/9978/t/7/assets/powered-by-plug_2x.png?2267229916633493028" alt="Powered by Detroit OG" height="46">
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- /Site Footer -->

<div id="footer" class="site-footer section footer-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="widget">
          <div class="footer-top border-primary-color">
            <div class="row">
              <div class="col-md-4">
                <div class="footer-content-box shipping-icon">
                  <h3 class="text-uppercase">Group Pricing Discounts</h3>
                  <p>The more you buy, the more you save with our competitive discounts</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="footer-content-box gift-icon">
                  <h3 class="text-uppercase">Secure Shopping</h3>
                  <p>Our website is protected with 128 Bit SSL encryption</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="footer-content-box moneyBack-icon">
                  <h3 class="text-uppercase">90 Day Warranty</h3>
                  <p>We provide a 90 day warranty on all of our products</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <div class="block-title">
            <h2>About Us</h2>
          </div>
          <div class="block-content">
            {% if settings.logo_use_image %}
              <a href="/" itemprop="url" class="site-footer__logo-link">
                <img src="{{ 'logo-footer.png' | asset_img_url: '400x400' }}" alt="{{ shop.name }}" itemprop="logo">
              </a>
            {% else %}
              <a href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
            {% if settings.footer_about_us != blank %}
              <p>{{ settings.footer_about_us }}</p>
            {% endif %}

            {% if footer_about_us_link != blank %}
              <p><a href="{{ settings.footer_about_us_link }}">Read more <b>→</b></a></p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <div class="block-title">
            <h2>{{ settings.footer_2_heading }}</h2>
          </div>
        
          <div class="block-content">
            {% if settings.footer_linklist_2 != '' %}
              <ul>
                {% for link in linklists[settings.footer_linklist_2].links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <div class="desc">
                {{ settings.footer_2_text }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget widget-address">
          <div class="block-content">
            <h2>contacts</h2>
          </div>
          <div class="block-content">
            {% if settings.store_addr != blank %}
            <div class="flex"><p>Address:</p><span>{{settings.store_addr}}</span></div>
            {% endif %}

            {% if settings.store_opening != blank %}
            <div class="flex"><p>Hours:</p><span>{{settings.store_opening}}</span></div>
            {% endif %}
            
            {% if settings.store_phone != blank %}
            <p>Phone: <a href="tel:+1-{{ settings.store_phone }}">{{ settings.store_phone }}</a></p>
            {% endif %}

            {% if settings.store_contact_email != blank %}
            <p>Email : <a href="mailto:{{ settings.store_contact_email }}">{{ settings.store_contact_email }}</a></p>
            {% endif %}

          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <center>
            <div class="block-title">
              <h2>We Accept</h2>
              <div class="block-content">
                <ul class="list-h-items">
                  <li><em class="fa fa-cc-mastercard">&nbsp;</em></li>
                  <li><em class="fa fa-cc-discover">&nbsp;</em></li>
                  <li><em class="fa fa-cc-visa">&nbsp;</em></li>
                  <li><em class="fa fa-credit-card">&nbsp;</em></li>
                </ul>
              </div>
            </div>
          </center>
          <span id="siteseal">
            <script data-cfasync="false" src="/cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js"></script><script async="" type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=B9CZeN3kAlz61ti2ADeYtwDDBoczGqeBWTUF8wAEWHOSNWhQqEN57bVMqY0u"></script>
          </span>
        </div>
        {% if settings.footer_social_enable %}
        <div class="footer-social-block">
          <div class="block-title social-title">
            <h2>Follow Us</h2>
          </div>
          <div class="block-content social-icons">
            {% assign social_icons = 'twitter|facebook|pinterest|google-plus|instagram|youtube|vimeo' | split: '|' %}
            {% for social_icon in social_icons %}
              {% capture social_link %}{{ social_icon }}_link{% endcapture %}
              <a href="{{ settings[social_link] }}" target="_blank" title="{{ social_icon | replace: '_', ' ' | capitalize }}"><i class="fa fa-{{ social_icon }}"></i></a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="clearfix"></div>
    <div id="plugdetroit-logo">
      <a href="http://plugdetroit.com/" target="_blank">
        <img src="//cdn.shopify.com/s/files/1/1450/9978/t/7/assets/powered-by-plug_2x.png?2267229916633493028" alt="Powered by Detroit OG" height="46">
      </a>
    </div>

  </div>
</div>

