<ul class="social-icons">
  {% assign social_icons = 'twitter|facebook|pinterest|google_plus|instagram|youtube|vimeo' | split: '|' %}
  {% for social_icon in social_icons %}
    {% capture social_link %}{{ social_icon }}_link{% endcapture %}
      {% capture social_icon_img %}social-icon-{{ social_icon | replace: '_', '-' }}@2x.png{% endcapture %}
      <li>
        <a href="{{ settings[social_link] }}" target="_blank" title="{{ social_icon | replace: '_', ' ' | capitalize }}">
          <img src="{{ social_icon_img | asset_url }}" alt="{{ social_icon | replace: '_', ' ' | capitalize }}">
        </a>
      </li>
  {% endfor %}
</ul>