{% layout none %}<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">

  {{ content_for_header }}

  <style>
    @keyframes fadeInDelay {
      99% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
      }
    }


    @font-face {
      font-family: 'Open Sans';
      src: url('{{ "OpenSans-Light.eot" | asset_url }}');
      src: url('{{ "OpenSans-Light.eot" | asset_url }}#iefix') format("embedded-opentype"),
           url('{{ "OpenSans-Light.woff" | asset_url }}') format("woff"),
           url('{{ "OpenSans-Light.ttf" | asset_url }}') format("truetype"),
           url('{{ "OpenSans-Light.svg" | asset_url }}#OpenSans-Light') format("svg");
      font-weight: normal;
      font-style: normal;
    }

    *, *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box
    }
    html, body {
      min-height: 100%;
    }
    html {
      font-family: sans-serif;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }
    body {
      margin: 0;
      background: #000 url("{{ 'bg-login.jpg' | asset_img_url:'1920x' }}") no-repeat 50% 100%;
      color: #fff;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
      display: block;
    }
    input, button {
      font: inherit;
    }
    ::-webkit-input-placeholder {
      color: #fff;
    }
    ::-moz-placeholder {
      color: #fff;
    }
    :-ms-input-placeholder {
      color: #fff;
    }
    :-moz-placeholder {
      color: #fff;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
    a:hover, a:focus {
      text-decoration: underline;
    }
    p:last-child {
      margin-bottom: 0;
    }
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0
    }
    .text-right {
      text-align: right;
    }
    .text-center {
      text-align: center;
    }
    .container {
      position: absolute;
      top: 50%;
      left: 73%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 439px;
      padding: 40px;
      animation: .6s fadeInDelay;
      animation-fill-mode: forwards;
      visibility: hidden;
    }

    .form-group {
      margin-bottom: 20px;
    }
    .form-control {
      display: block;
      width: 100%;
      padding: 14px 15px;
      background: #ffffffab;
      border-radius: initial;
      border: 1px solid #212b31;
      box-shadow: initial;
      font-size: 16px;
      line-height: 1;
      color: #212b31;
    }
    .form-control:focus {
      background-color: #fff;
    }
    
    .form-control::-webkit-input-placeholder {
      color: #212b31 !important;
      font-family: 'Open Sans', sans-serif;
    }

    .form-control:-moz-placeholder { /* Firefox 18- */
      color: #212b31 !important;
      font-family: 'Open Sans', sans-serif;
    }

    .form-control::-moz-placeholder {  /* Firefox 19+ */
      color: #212b31 !important;
      font-family: 'Open Sans', sans-serif;
    }

    .form-control:-ms-input-placeholder {  
      color: #212b31 !important;
      font-family: 'Open Sans', sans-serif;
    }
    .btn {
      display: inline-block;
      padding: 15px;
      border: 0;
      border-radius: initial;
      text-decoration: none !important;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      font-size: 24px;
      transition: all .2s ease;
      cursor: pointer;
    }
    .btn-default {
      background: #212b31;
      border-color: #212b31;
      color: #f5f5f5;
    }
    .btn-default:hover, .btn-default:focus {
      background: #000;
      border-color: #000;
      color: #fff;
    }
    .btn-primary {
      background: #00aeff87;
      color: #fff;
    }
    .btn-primary:hover, .btn-primary:focus {
      background: #00aeffd1;
      color: #fff;
    }
    .btn-block {
      display: block;
      width: 100%;
    }
    .form-register p {
      color: #fff;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
    }
    .form-register a {
      font-weight: bold;
    }
    .form-reset-content {
      color: #212b31;
    } 

    .flex-vc {
      display: flex;
      align-items: center;
    }
    .flex-sb {
      display: flex;
      justify-content: space-between;
    }
    .forgot-pass-wrapper {
      display: flex;align-items: center;
      justify-content: space-between;
    }
    .forgot-pass-wrapper * {
      margin: initial;
    }

    #snize-sticky-searchbox-searchbox {
      display: none !important;
    }

    @media screen and (max-width: 767px) {
      body {
        margin: 0;
        background: #000 url("{{ 'bg-login-mobile.jpg' | asset_url }}") no-repeat 50% 20%;
        background-size: cover;
      }

      .container {
        top: 67%;
        left: 50%;
        padding: 40px 20px;
      }

      .form-register p {
        font-size: 16px;
      }

      .form-group {
        margin-bottom: 10px;
      }
      .form-control {
        padding: 10px 15px;
        font-size: 13px;
      }

      .btn {
        font-size: 16px;
        padding: 10px 15px;
      }
    }

  </style>
</head>
<body>
  <div class="container">
    <div class="form">

      <div id="form-login" class="form-login">
          {% form 'customer_login' %}
          {{ form.errors | default_errors }}

          <div class="form-group">
            <label for="form-login-email" class="sr-only">{{ 'customer.login.email' | t }}</label>
            <input id="form-login-email" type="email" name="customer[email]" value="" placeholder="Email" class="form-control {% if form.errors contains "email" %}error{% endif %}" autofocus required>
          </div>

          {% if form.password_needed %}
            <div class="form-group">
              <label for="form-login-password" class="sr-only">{{ 'customer.login.password' | t }}</label>
              <input id="form-login-password" type="password" name="customer[password]" value="" placeholder="Password" class="form-control {% if form.errors contains "password" %}error{% endif %}" required>
            </div>
          {% endif %}

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">{{ 'customer.login.sign_in' | t }}</button>
          </div>

          <div class="form-group forgot-pass-wrapper">
            <label class="checkbox">
              <input type="checkbox" value="remember-me" id="remember_me"> Remember me
            </label>
            <p class="text-center"><a id="form-reset-toggle" href="#form-reset">Forgot Password?</a></p>
          </div>

        {% endform %}
      </div>

      <div id="form-reset" class="form-reset" style="display:none;">
        {% comment %}<h2>{{ 'customer.recover_password.title' | t }}</h2>{% endcomment %}
        <p><small class="form-reset-content">{{ 'customer.recover_password.subtext' | t }}</small></p>

        {% form 'recover_customer_password' %}
          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            {% assign reset_success = true %}
          {% endif %}

          <div class="form-group">
            <label for="form-reset-email" class="sr-only">Email</label>
            <input id="form-reset-email" type="email" name="email" value="" placeholder="Email" class="form-control" required>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
            <p class="text-center"><a id="form-login-toggle" href="#form-login">Cancel</a></p>
          </div>
        {% endform %}

        {% if shop.checkout.guest_login %}
          {% form 'guest_login' %}
            <div class="form-group">
              <button type="submit" class="btn btn-default btn-block">{{ 'customer.login.guest_continue' | t }}</button>
            </div>
          {% endform %}
        {% endif %}
      </div>

      <div class="form-register">
        <p>Don't have an account? <a href="/account/register" class="">{{ 'customer.register.register_now' | t }}</a></p>
        <p style="text-align: center;display: block;"><a href="/">Return to store</a></p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ 'jquery-2.2.4.min.js' | asset_url }}"><\/script>')</script>
  <script>
    (function($){
      $(document).ready(function(){
        $('#form-reset-toggle').on('click', function(){
          $('#form-login').hide();
          $('#form-reset').show();
          // $('#form-login').slideUp('fast', function(){
          //   $('#form-reset').slideDown('fast');
          // });
        });
        $('#form-login-toggle').on('click', function(){
          $('#form-reset').hide();
          $('#form-login').show();
          // $('#form-reset').slideUp('fast', function(){
          //   $('#form-login').slideDown('fast');
          // });
        });

        if (localStorage.chkbx && localStorage.chkbx != '') {
          $('#remember_me').attr('checked', 'checked');
          $('#form-login-email').val(localStorage.usrname);
          $('#form-login-password').val(localStorage.pass);
        } else {
          $('#remember_me').removeAttr('checked');
          $('#form-login-email').val('');
          $('#form-login-password').val('');
        }

        $('#remember_me').click(function() {

          if ($('#remember_me').is(':checked')) {
            // save username and password
            localStorage.usrname = $('#form-login-email').val();
            localStorage.pass = $('#form-login-password').val();
            localStorage.chkbx = $('#remember_me').val();
          } else {
            localStorage.usrname = '';
            localStorage.pass = '';
            localStorage.chkbx = '';
          }
        });
      });
    })(jQuery);
  </script>
</body>
</html>


