{% layout 'password' %}

{% comment %}
  The contents of the password.liquid templates can be found in /sections
{% endcomment %}


<!-- Password page header -->
<div class="password-header-section">
  <header class="password-page__header" role="banner"  data-section-id="{{ section.id }}" data-section-type="password-header">
    <div class="password-page__header__inner">
      {% comment %}
        Link to password modal
      {% endcomment %}
      <p class="password-login text-right small--text-center">
        <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
          {% include 'svg-definitions' with 'lock-icon' %}
          {{ 'general.password_page.password_link' | t }}
        </a>
      </p>

      {% comment %}
        Site name or logo
      {% endcomment %}
      <div class="password-page__logo">
        <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
          <img class="logo" src="{{ 'logo-white.png' | asset_img_url: '300x300' }}" alt="{{ shop.name }}" itemprop="logo">
        </h1>
      </div>
    </div>
  </header>
</div>
<!-- /Password page header -->

<!-- Password page Content -->
<div class="password-page__main">
  <div class="password-page__main__inner">

    {% comment %}
      Opening soon text
    {% endcomment %}

    <h2 class="password-page__hero">Coming Soon</h2>

    {% comment %}
      Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
    {% endcomment %}

    {% unless shop.password_message == blank %}
      <div class="password-page__message">
        {{ shop.password_message }}
      </div>
      <hr class="hr password-page__hr">
    {% endunless %}

    {% comment %}
      Signup form
    {% endcomment %}

    <div class="password-page__signup-form">
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
        {% else %}
          <p class="password-page__signup-form__heading h5">Be the first to know when we launch.</p>
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
          <div class="input-group">
            <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="Email address">
            <span class="input-group-btn">
              <input type="submit" class="btn password-page__signup-form__submit" value="Submit">
            </span>
          </div>
        {% endif %}
      {% endform %}
    </div>

    {% comment %}
      Share homepage URL
      Shared text is from the store meta description
    {% endcomment %}

    <div class="password-page__social-sharing">
      <p class="password-page__signup-form__heading h5">Share it!</p>
      {% include 'social-sharing' %}
    </div>

  </div>
</div>
<!-- /Password page Content -->